body{
    background-image: url("https://img.freepik.com/free-photo/flat-lay-frame-with-autumn-fruits-copy-space_23-2148262622.jpg?size=626&ext=jpg&ga=GA1.1.219549287.1690818811&semt=ais");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 90vh;
    background-color: #9c8f8d;
}
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
h1{
    color: white;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
p{
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
p, h1 {
    margin: 0px;
    padding: 0px;
  }
  h3{
    color: white;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
  }
  h4{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .thanksgiving{
    background-color: #aa8e70; 
    height: 200px;
    width: 200px;
    margin-top: 60px;
    border-radius: 50px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerChanged{
    margin-top: 5%;
    font-size: 120px;
    color: #b01930;
    font-family: 'Lobster', sans-serif;
}
.threeChange{
    color: #b01930;
    font-family: 'Lobster', sans-serif;
}
button{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255,255,255, 0.3);
}
.btn{
    display: flex;
    justify-content: space-between;
}
.red{
  background-color: #b01930;
}

.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url(http://www.clipartqueen.com/image-files/red-lobed-fall-clipart-leaf.png);
    background-size: 100% 100%;
    z-index: -1;
}


@media all and (max-width: 800px){
    h1{
        font-size: 30px;
    }
}

@media all and (max-width: 500px){
    h1{
        margin-top: 0;
        font-size: 30px;
    }
    .btn{
        color: #f5f3f5;
        border: none;
        padding: 10px;
        font-size: 15px;
        font-family: 'Noto Serif', serif;
    }
  
}

/* @media all and (max-width: 800px) {
    h1{
        font-size: 40px;
    }
}

@media all and (max-width: 500px) {
    h1{
        font-size: 20px;
    }
    button{
        margin-left: 130px;
    }
    
} */