body{
    background-image: url("https://img.freepik.com/free-vector/realistic-back-school-background_23-2148589913.jpg?w=1380&t=st=1690515427~exp=1690516027~hmac=93549ba70f7f19eddb091d538bb367004d2992fcecf5f7cf6ab01764cef8990f");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-color: #fafcfc;
}
.header{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #37302a;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 350px;
}
.school{
    background-color: rgba(251, 248, 249, 0.82); 
    height: 300px;
    width: 200px;
    
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #37302a;
}
h4{
    font-family: 'Montserrat', sans-serif;
    color: #37302a;
    font-size: 40px;
    font-weight: bold;
}
.red{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    background-color: #ca4146;
    color: #fdfdfd;
    padding: 30px;
}
.back{
    color: #ca4146;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    background-color: rgba(251, 248, 249, 0.82);
    color: #37302a;
    width: 70px;
    height: 60px;
    border: none;
    margin: 5px;
}
.musicPlay:hover{
    background-color: #ca4146;
    width: 72px;
    height: 62px;
}
.musicStop:hover{
    background-color: #9dc08b;
    width: 72px;
    height: 62px;
}

@media all and (max-width: 800px){
    .container{
        margin-top: 20px;
    }
    .header{
        margin-top: 80px;
    }
    h1{
        font-size: 30px;
    }
    .school{
        margin-top: 10px;
    }
}

@media all and (max-width: 500px){
    .container{
        margin-top: 20px;
    }
    .header{
        margin-top: 80px;
    }
    h1{
        font-size: 20px;
    }
    .school{
        margin-top: 10px;
    }
}